/* CSS files add styling rules to your content */

body {
  font-family: verdana;
  font-size: 12px;
  font-weight: normal;
  color: #000000;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.top-header {
  background-color: rgb(0, 51, 153); /* Dark Blue */
}

.top-header a {
  color: white;
}
